
.shadow{

    // width: 97%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(210, 210, 210, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(174, 173, 173, 0.75);
}



.card{
    width: 300px;
    // height: 80px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(10, 143, 238);  
    color: white;
    padding: 10px;
}



.baseCard{
    width: 300px;
    // height: 100%;
    padding-top: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}




//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
  
    .shadow{
        // width: 97%;
    }

    .card{
        width: 95%;
        // height: 110px;
    }

    .baseCard{
        width: 95%;
        // height: 160px;
    }


    
   
}


/* medium devices (tablets, 768 px and up) */ 
@media only screen and (min-width: 859px) {

    .card{
        width: 95%;
        // height: 110px;
    }

    .baseCard{
        width: 95%;
        // height: 160px;
    }

    .selectedFrame{
        width: 95%;
        // height: 110px;
    }

    .card-text{
        font-size: 1.2em;
    }

}
    


/* x-large devices (desktops, 1200 px and up) */ 
@media only screen and (min-width: 1200px) {
    
    .selectedCardLabel{
        width: 800px;
    }

    .card{
        width: 65%;
        // height: 110px;
    }

    .baseCard{
        width: 65%;
        height: 100%;
        // height: 180px;
    }

    .selectedFrame{
        width: 65%;
        // height: 110px;
    }

    .selectedCardLabel{
        top: 110px;
    }

}
    

/* XX- Large devices (larger desktops, 1400px and up) */ 
@media only screen and (min-width: 1400px) {

}