<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">


    

        <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 60px;" fxFlex="100">
            
                    <a href="https://maps.app.goo.gl/YA8rJAansdoenoNp8" target="_blank" style="margin-top: 40px;">
                        <span class="material-icons notranslate" style="transform: scale(4.5);">location_on </span>
                    </a>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 60px;">

            <span class="font" style="font-size: 1.4; text-align: center; border: 1px solid rgb(173, 173, 173); padding: 15px; border-radius: 10px;">Te compartimos la ubicacion para que puedas acceder al predio sin problemas</span> 
          


        </div>

</div>