<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">


  <div id="carouselExampleControls" class="carousel slide mt-20" data-bs-ride="carousel" fxFlex.xs="97" fxFlex="70">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/expo-1.jpg" class="d-block w-100" alt="expo 1">
      </div>
      <div class="carousel-item">
        <img src="assets/expo-2.jpg" class="d-block w-100" alt="expo 2">
      </div>
      <div class="carousel-item">
        <img src="assets/expo-3.jpg" class="d-block w-100" alt="expo 3">
      </div>
      <!-- <div class="carousel-item">
        <img src="assets/expo-4-2.jpg" class="d-block w-100" alt="expo 4">
      </div>
      <div class="carousel-item">
        <img src="assets/expo-5-2.jpg" class="d-block w-100" alt="expo 5">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>