<div fxLayout="row wrap" fxLayoutAlign="center center" style="height: 100%; padding: 10px;">

    <span class="font" style="font-size: 2em; text-align: center; width: 90%; margin-top: 30px;">Cronograma de actividades</span>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 30px;">

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex.xs="100" fxFlex.sm="97" fxFlex="50" style="margin-top: 20px;">
            <span class="material-icons notranslate" style="transform: scale(1.4);"> download </span> &nbsp;&nbsp;
            <a href="assets/files/cronograma.pdf" download style="">Descargar PDF</a> 
    </div>
   </div>

    <img src="assets/cronograma.png"  fxFlex.xs="99" fxFlex.sm="100" fxFlex="50" style="margin-top: 40px;">

</div>

