<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="modal-container">
  
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" >
        
        <div fxLayout="row wrap" fxLayoutAlign="center center" style="background-color: green" style="height: 120px; width: 120px; margin-top: 40px; border-radius: 50%; border: 1px solid green;">
            <span class=" material-icons notranslate" style="transform: scale(3); color: green;">done</span> 
        </div>
    </div>
    
    
    <span class="fontPop" style="text-align: center; margin-top: 30px; font-size: 1.3em;" fxFlex="100"> {{msg}} </span>

    <button type="button" class="btn btn-sm shadow font"  style="background-color:rgb(10, 143, 238); border-radius: 9px; padding: 8px; width: 150px; margin-top: 40px; color: white; margin-bottom: 10px;" (click)="closeModal()">Continuar</button>
    

    </div>
