
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" >

  <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex.xs="100"  fxFlex="80" class="shadow" style=" background-color: rgb(248, 248, 248); margin-top: 5px; height: 100%; " >


      <h4 class="font mt-30" style="text-align: center; margin-bottom: 30px; margin-top: 40px;" fxFlex="97"><b>Seleccioná las charlas que te interesen</b></h4>

        <!-- start selected cards -->
        <div fxLayout="row wrap"  fxLayoutAlign="center center" style="margin-top: 50px;" *ngIf="quantity !== 0" fxFlex="100" >

            <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex.xs="95" fxFlex.sm="80" fxFlex="80"  class="whiteframe  selectedCardLabel" >
                <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="60" >
                  <span class="material-icons" style="color: white;"> check_circle_outline </span> 
                  <span class="font " style="color: white; text-align: start; font-size: 1em; margin-left: 10px;">{{quantity}} conferencia</span>
                </div>  
                <div fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="40" (click)="saveTalks()">
                  <span class="font" style="color: white; font-size: 1.1m; text-align: end;" >Continuar</span>
                  <span class="material-icons notranslate">chevron_right</span>
                </div>
          </div>
      </div>
        <!-- end selected-cards -->

      
     <ng-container *ngFor="let talk of talks, let i" >     
    
      <!-- start card -->

          <div fxLayout="row wrap" fxLayoutAlign="start center"   [ngClass]="i.class == true ? 'selectedFrame':'card'" style="margin-top: 80px;" >

              <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" >
                  <span class="card-title font" style="font-size: 0.9em; width: 80%;"><b>{{talk.subject}}</b></span> 
                  <span class="material-icons notranslate " style="cursor: pointer;" (click)="delCard(talk)">close</span>
              </div>

              <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100">
                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="50">
                    <span class=" material-icons notranslate">alarm_on</span> &nbsp;&nbsp;
                    <span>{{talk.time}} hs</span>
                  </div>
                  <div fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="50" >
                    <span class=" material-icons notranslate">home</span> &nbsp;&nbsp;
                    <span class="card-text font"> {{talk.location}}</span> <br>
                  </div>
              </div>
          </div>
          
          <div fxLayout="row wrap" fxLayoutAlign="space-around center"  class="baseCard shadow"  >
            <img src="assets/avatar.jpg"  alt="avatar" style="max-height: 90px; border-radius: 28%; margin-top: 10px;" >
            <span class="card-text font" style="color: black; text-align: start" fxFlex="20"><b>{{talk.speaker}}</b></span> 
            <div fxFlex="50"></div>
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" >
              <button type="button" class="btn btn-sm shadow font"  [ngStyle]="{'background-color': i.class ? 'green' : 'rgb(10, 143, 238)'}"   style=" color: white; border-radius: 9px; padding: 8px;max-width: 100px; margin-right: 10px;" (click)="selectCard(talk)">Inscribirme</button>
              
            </div>
          </div>
    </ng-container>

 


   </div> 
</div> 

<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden"></span>
  </div>
</div>
