<nav class="navbar navbar-expand-lg navbar-light bg-light font whiteFrame">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo-info.jpg" width="120px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Evento
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li><a class="dropdown-item" href="#">Programa</a></li>
              <li><a class="dropdown-item" href="#">Stand</a></li>
              <li><a class="dropdown-item" href="#">Presentación</a></li>
              <li><a class="dropdown-item" href="#">Proyectos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Algo mas destacado</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sede
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Localidad</a></li>
              <li><a class="dropdown-item" href="#">Como llegar</a></li>
              <li><a class="dropdown-item" href="#">Alojamiento</a></li>
              <li><a class="dropdown-item" href="#">Exposición</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Mapa</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  