.whiteFrame{
    box-shadow: 0px 0px 5px 3px rgba(141, 141, 141, 0.32);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(141, 141, 141, 0.32);
    -moz-box-shadow: 0px 0px 5px 3px rgba(141, 141, 141, 0.32);
}

.nav-link{
    color: rgb(24, 24, 24) !important;
} 

