<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">


  <div fxLayout="row wrap" fxLayoutAlign="center start"  fxFlex="97" style="margin-top: 20px; border: 1px solid rgb(122, 122, 122); border-radius: 15px; padding: 5px;">
    <img src="assets/logo-luiggi.jpg" alt="logo luiggi" fxFlex.xs="80" fxFlex.sm="20" fxFlex="10">
    <span class="font" style="font-size: 1.3em; text-align: center start; margin-top: 40px;" fxFlex="80" fxFlex.xs="97" fxFlex.sm="70"> Ingeniero Luiggi es una localidad ubicada en el extremo norte de la provincia de La Pampa, Argentina, en el departamento Realicó. Su zona rural se extiende también sobre los departamentos Rancul y Trenel</span>
  </div>



    <div id="carouselExampleIndicators" class="carousel slide mt-20" data-bs-ride="carousel" fxFlex.xs="97" fxFlex.sm="97" fxFlex="97" style="margin-bottom: 40px;" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/local-1.jpg" class="d-block w-100" alt="localidad 1">
          </div>
          <div class="carousel-item">
            <img src="assets/local-2.jpg" class="d-block w-100" alt="localidad 2">
          </div>
          <div class="carousel-item">
            <img src="assets/local-3.jpg" class="d-block w-100" alt="localidad 3">
          </div>
          <div class="carousel-item">
            <img src="assets/local-4.png" class="d-block w-100" alt="localidad 4">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>

